nav.navbar.navbar-inverse.navbar-fixed-top
  a.navbar-brand(href='/')
    img.logo(src='/public/img/pare.png')
    span Pare
  ul.nav.navbar-nav
    li.nav-item
      a.nav-link(href='/input') Input Product


